@import "tailwindcss";

@media (max-width: 450px) {
  .forgot{
    width: 358px;
  }
  .forgot img{
    width: 230px;
  }
  .forgot h1{
    font-size: 22px;
  }
  .forgot input{
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .forgot button{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 7px;
    font-size: 15px;
  }
  .reset{
    width: 358px;
  }
  .reset img{
    width: 230px;
  }
  .reset h1{
    font-size: 22px;
  }
  .reset input{
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .reset button{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 7px;
    font-size: 15px;
  }
  .login {
    width: 358px;
  }
  .login img {
    width: 14.5rem;
  }
  .register {
    width: 358px;
    padding-bottom: 2.8rem;
  }
  .register img {
    width: 11rem;
  }
  .register input {
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
  }
  .register button {
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
  }
  
}
